<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Show your support of #TheProgressTrain with your profile picture</title>
		
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" />
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
		<style>
			*,
			*::before,
			*::after {
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
					-ms-box-sizing: border-box;
					 -o-box-sizing: border-box;
						box-sizing: border-box;
			}
			
			html,
			body {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}
			
			.font-hammersmith {
				font-family: "Hammersmith One", sans-serif;
			}
			
			.text-stroke {
				-webkit-text-stroke-width: 2px;
				-webkit-text-stroke-color: black;
			}
			
			.rainbow-bg {
				background: rgb(255,255,255);
				background: -moz-linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,168,203,1) 5%, rgba(255,168,203,1) 10%, rgba(255,168,203,1) 15%, rgba(115,215,238,1) 15%, rgba(115,215,238,1) 20%, rgba(115,215,238,1) 25%, rgba(96,52,19,1) 25%, rgba(96,52,19,1) 30%, rgba(96,52,19,1) 35%, rgba(3,3,3,1) 35%, rgba(3,3,3,1) 40%, rgba(3,3,3,1) 45%, rgba(212,6,6,1) 45%, rgba(212,6,6,1) 50%, rgba(212,6,6,1) 55%, rgba(240,157,3,1) 55%, rgba(240,157,3,1) 60%, rgba(240,157,3,1) 65%, rgba(229,254,4,1) 65%, rgba(229,254,4,1) 70%, rgba(229,254,4,1) 75%, rgba(10,191,2,1) 75%, rgba(10,191,2,1) 80%, rgba(10,191,2,1) 85%, rgba(8,25,155,1) 85%, rgba(8,25,155,1) 90%, rgba(8,25,155,1) 95%, rgba(114,3,142,1) 95%, rgba(114,3,142,1) 100%);
				background: -webkit-linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,168,203,1) 5%, rgba(255,168,203,1) 10%, rgba(255,168,203,1) 15%, rgba(115,215,238,1) 15%, rgba(115,215,238,1) 20%, rgba(115,215,238,1) 25%, rgba(96,52,19,1) 25%, rgba(96,52,19,1) 30%, rgba(96,52,19,1) 35%, rgba(3,3,3,1) 35%, rgba(3,3,3,1) 40%, rgba(3,3,3,1) 45%, rgba(212,6,6,1) 45%, rgba(212,6,6,1) 50%, rgba(212,6,6,1) 55%, rgba(240,157,3,1) 55%, rgba(240,157,3,1) 60%, rgba(240,157,3,1) 65%, rgba(229,254,4,1) 65%, rgba(229,254,4,1) 70%, rgba(229,254,4,1) 75%, rgba(10,191,2,1) 75%, rgba(10,191,2,1) 80%, rgba(10,191,2,1) 85%, rgba(8,25,155,1) 85%, rgba(8,25,155,1) 90%, rgba(8,25,155,1) 95%, rgba(114,3,142,1) 95%, rgba(114,3,142,1) 100%);
				background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,168,203,1) 5%, rgba(255,168,203,1) 10%, rgba(255,168,203,1) 15%, rgba(115,215,238,1) 15%, rgba(115,215,238,1) 20%, rgba(115,215,238,1) 25%, rgba(96,52,19,1) 25%, rgba(96,52,19,1) 30%, rgba(96,52,19,1) 35%, rgba(3,3,3,1) 35%, rgba(3,3,3,1) 40%, rgba(3,3,3,1) 45%, rgba(212,6,6,1) 45%, rgba(212,6,6,1) 50%, rgba(212,6,6,1) 55%, rgba(240,157,3,1) 55%, rgba(240,157,3,1) 60%, rgba(240,157,3,1) 65%, rgba(229,254,4,1) 65%, rgba(229,254,4,1) 70%, rgba(229,254,4,1) 75%, rgba(10,191,2,1) 75%, rgba(10,191,2,1) 80%, rgba(10,191,2,1) 85%, rgba(8,25,155,1) 85%, rgba(8,25,155,1) 90%, rgba(8,25,155,1) 95%, rgba(114,3,142,1) 95%, rgba(114,3,142,1) 100%);
			}
			
			.rainbow-bg:hover {
				background: rgb(255,255,255);
				background: -moz-linear-gradient(125deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 5%, rgba(255,168,203,0.5) 5%, rgba(255,168,203,0.5) 10%, rgba(255,168,203,0.5) 15%, rgba(115,215,238,0.5) 15%, rgba(115,215,238,0.5) 20%, rgba(115,215,238,0.5) 25%, rgba(96,52,19,0.5) 25%, rgba(96,52,19,0.5) 30%, rgba(96,52,19,0.5) 35%, rgba(3,3,3,0.5) 35%, rgba(3,3,3,0.5) 40%, rgba(3,3,3,0.5) 45%, rgba(212,6,6,0.5) 45%, rgba(212,6,6,0.5) 50%, rgba(212,6,6,0.5) 55%, rgba(240,157,3,0.5) 55%, rgba(240,157,3,0.5) 60%, rgba(240,157,3,0.5) 65%, rgba(229,254,4,0.5) 65%, rgba(229,254,4,0.5) 70%, rgba(229,254,4,0.5) 75%, rgba(10,191,2,0.5) 75%, rgba(10,191,2,0.5) 80%, rgba(10,191,2,0.5) 85%, rgba(8,25,155,0.5) 85%, rgba(8,25,155,0.5) 90%, rgba(8,25,155,0.5) 95%, rgba(114,3,142,0.5) 95%, rgba(114,3,142,0.5) 100%);
				background: -webkit-linear-gradient(125deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 5%, rgba(255,168,203,0.5) 5%, rgba(255,168,203,0.5) 10%, rgba(255,168,203,0.5) 15%, rgba(115,215,238,0.5) 15%, rgba(115,215,238,0.5) 20%, rgba(115,215,238,0.5) 25%, rgba(96,52,19,0.5) 25%, rgba(96,52,19,0.5) 30%, rgba(96,52,19,0.5) 35%, rgba(3,3,3,0.5) 35%, rgba(3,3,3,0.5) 40%, rgba(3,3,3,0.5) 45%, rgba(212,6,6,0.5) 45%, rgba(212,6,6,0.5) 50%, rgba(212,6,6,0.5) 55%, rgba(240,157,3,0.5) 55%, rgba(240,157,3,0.5) 60%, rgba(240,157,3,0.5) 65%, rgba(229,254,4,0.5) 65%, rgba(229,254,4,0.5) 70%, rgba(229,254,4,0.5) 75%, rgba(10,191,2,0.5) 75%, rgba(10,191,2,0.5) 80%, rgba(10,191,2,0.5) 85%, rgba(8,25,155,0.5) 85%, rgba(8,25,155,0.5) 90%, rgba(8,25,155,0.5) 95%, rgba(114,3,142,0.5) 95%, rgba(114,3,142,0.5) 100%);
				background: linear-gradient(125deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 5%, rgba(255,168,203,0.5) 5%, rgba(255,168,203,0.5) 10%, rgba(255,168,203,0.5) 15%, rgba(115,215,238,0.5) 15%, rgba(115,215,238,0.5) 20%, rgba(115,215,238,0.5) 25%, rgba(96,52,19,0.5) 25%, rgba(96,52,19,0.5) 30%, rgba(96,52,19,0.5) 35%, rgba(3,3,3,0.5) 35%, rgba(3,3,3,0.5) 40%, rgba(3,3,3,0.5) 45%, rgba(212,6,6,0.5) 45%, rgba(212,6,6,0.5) 50%, rgba(212,6,6,0.5) 55%, rgba(240,157,3,0.5) 55%, rgba(240,157,3,0.5) 60%, rgba(240,157,3,0.5) 65%, rgba(229,254,4,0.5) 65%, rgba(229,254,4,0.5) 70%, rgba(229,254,4,0.5) 75%, rgba(10,191,2,0.5) 75%, rgba(10,191,2,0.5) 80%, rgba(10,191,2,0.5) 85%, rgba(8,25,155,0.5) 85%, rgba(8,25,155,0.5) 90%, rgba(8,25,155,0.5) 95%, rgba(114,3,142,0.5) 95%, rgba(114,3,142,0.5) 100%);
			}
		</style>
	</head>
	<body>
		<div id="app" class="flex flex-col">
			<div class="flex-grow py-8"></div>
			<div class="px-8 mx-auto sm:w-2/3 md:w-1/2 lg:w-1/3">
				<h2 class="font-hammersmith text-2xl sm:text-3xl text-gray-800 leading-tight mb-2">1. Upload</h2>
				<input ref="imageUpload" @change="handleImage" class="hidden" type="file" accept="image/*" />
				<a @click="startUpload" @keypress.enter="startUpload" tabindex="0" class="font-hammersmith text-pink-100 text-xl leading-none rounded-lg cursor-pointer bg-pink-600 hover:bg-pink-700 focus:bg-pink-700" style="padding: 7px 15px 6px;">
					CLICK TO UPLOAD
				</a>
				
				<h2 class="font-hammersmith text-2xl sm:text-3xl text-gray-800 leading-tight mt-8 mb-1">2. Slogan</h2>
				<div class="mb-2 font-hammersmith">
					<a v-for="(s, key) in slogans" :key="key" @click="slogan = key" @keypress.enter="slogan = key" tabindex="0" class="block mb-1 text-xl leading-none rounded-lg cursor-pointer border-2 border-solid focus:outline-none" style="padding: 9px 13px 8px;" :class="{ 'text-pink-600 bg-pink-100 border-pink-600': slogan == key, 'text-gray-600 bg-transparent border-gray-500 hover:border-gray-800 focus:border-gray-800 hover:text-gray-800 focus:text-gray-800': slogan != key }">
						{{ s }}
					</a>
				</div>
				
				<h2 class="font-hammersmith text-2xl sm:text-3xl text-gray-800 leading-tight mt-6 mb-1">3. Save</h2>
				<div v-if="uploaded == ''" class="p-24 bg-gray-300 mb-4 rounded-lg"></div>
				<img v-if="uploaded != ''" :src="uploaded" alt="Result image" class="bg-gray-300 mb-4 rounded-lg" />
				
				<a class="font-hammersmith text-pink-100 text-xl leading-none rounded-lg cursor-pointer bg-pink-600 hover:bg-pink-700 focus:bg-pink-700" style="padding: 7px 15px 6px;">
					CLICK TO DOWNLOAD
				</a>
			</div>
			<div class="flex-grow py-8"></div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			var app = new Vue({
				el: '#app',
				data() {
					return {
						uploaded: "",
						slogan: -1,
						slogans: [
							"#THEPROGRESSTRAIN",
							"I SUPPORT #THEPROGRESSTRAIN",
							"I BELIEVE IN PROGRESS"
						],
						overlays: [
							"",
							"",
							""
						],
						result: ""
					}
				},
				methods: {
					startUpload() {
						this.$refs.imageUpload.click();
					},
					handleImage(e) {
						const selectedImage = e.target.files[0];
						this.createBase64Image(selectedImage);
					},
					createBase64Image(fileObject) {
						const reader = new FileReader();
						
						reader.onload = (e) => {
							this.uploaded = e.target.result;
						}
						
						reader.readAsBinaryString(fileObject);
					}
				}
			});
		</script>
	</body>
</html>